{% extends 'base.html' %}

{% block content %}
  <h1>NEW</h1>
  <hr>
  <form action="{% url 'movies:create' %}" method="POST">
    {% csrf_token %}
    <label for="title"> TITLE </label>
    <input type="text" name="title" id="title" required>
    <br>
    <label for="audience"> AUDIENCE </label>
    <input type="number" name="audience" id="audience" required>
    <br>
    <label for="release_date"> RELEASE_DATE </label>
    <input type="date" name="release_date" id="release_date" required>
    <br>
    <label for="genre"> GENRE </label> 
    <select name="genre" id="genre">
      <option value="comedy"> comedy </option>
      <option value="action"> action </option>
      <option value="romance"> romance </option>
      <option value="horror"> horror </option>
      <option value="animation"> animation </option>
      <option value="fantasy"> fantasy </option>
    </select>
    <br>
    <label for="score"> SCORE </label>
    <input type="number" name="score" id="score" min="0.0" max="5.0" step="0.5" required>
    <br>
    <label for="poster_url"> POSTER_URL </label>
    <input type="url" name="poster_url" id="poster_url" required>
    <br>
    <label for="description"> DESCRIPTON </label>
    <textarea name="description" id="description" cols="30" rows="10" required></textarea>
    <br>
    <input type="submit">
    <br>
    <hr>
    <a href="{% url 'movies:index' %}">BACK</a>
  </form>
{% endblock content %}

